<!-- HTML Template -->
<div class="header">
    <div class="right-side">
      <div class="icon-button">
        <p-button icon="pi pi-plus" severity="secondary" [text]="true" [rounded]="true"></p-button>
      </div>
      <div class="icon-button notification">
        <p-button icon="pi pi-bell" severity="secondary" [text]="true" [rounded]="true"></p-button>
      </div>
      <div class="username">Mayank's</div>
      <div class="avatar">
        <img src="assets/DummyIcon.svg" alt="User Avatar" />
      </div>
    </div>
  </div>