<div class="sidebar">
    <div class="logo">
      <img src="assets/dummylogo.png" alt="Logo" />
    </div>
    
    <div class="menu-items">
      <app-sidebar-menu-item-component
        *ngFor="let item of menuItems"
        [title]="item.title"
        [iconClass]="item.icon"
        [isActive]="item.isActive"
        [svgColor]="'#FFf'"
        (click)="setActiveItem(item)">
      </app-sidebar-menu-item-component>
    </div>

    <div class="theme-toggle">
      <app-sidebar-menu-item-component
        [title]="'Light'"
        [iconClass]="'assets/sun.svg'"
        (click)="toggleTheme()">
      </app-sidebar-menu-item-component>
    </div>
  </div>